.cards-container {
	width: 100%;
}

.filter-wrapper {
	align-items: center;
	justify-content: space-between;

	width: 100%;

	@media screen and (width <= 768px) {
		flex-direction: column;
	}
}

.filter-container {
	justify-content: center;
	align-items: center;
}
