* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

.content-container {
	padding: 48px 148px;

	@media screen and (width <= 768px) {
		padding: 48px;
	}
}

.state-button {
	margin-right: 16px;

	@media screen and (width <= 540px) {
		display: none !important;
	}
}

.ant-menu-horizontal { border: none !important; }
.ant-menu-item::after { bottom: 1px !important; }

.ant-tabs {
	@media screen and (width <= 768px) {
		padding: 0 24px !important;
	}
}

.ant-list-grid .ant-col > .ant-list-item { margin-block-end: 24px !important; }

.ant-tabs .ant-tabs-tabpane {
	display: flex;
	justify-content: center;
}

.ant-table-wrapper .ant-spin-container { min-width: fit-content; }
